<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

<ul>
  <li><a  href="/newblog/home">Home</a></li>
  {% if user.is_authenticated  %}
  <li><a href="/newblog/home/">{{request.user}}</a></li>
  <li><a href="/newblog/post_blog/">Post Blog</a></li>
  
  
  <li><a href="/newblog/logout/">logout</a></li>
  {% else %}
  <li><a href="/newblog/newBlog">Register</a></li>
  <li><a href="/newblog/login/">Login</a></li>
  
  
  {% endif %}
</ul>


</body>
</html>


